.dismiss-button {
  background-color: red !important;
  color: white !important;
}

body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}



li {
  list-style: none;
}

.logo {
  width: 60px;
  height: 60px;
}

.home {
  background-image: url('/images/computer.jpg');
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

.mugthumbs {
  display: flex;
  flex-direction: row;
}


.card-body {
  max-width: 150px;
}

.card img {
  max-height: 200px;
}

.card {
  margin-top: 10px;
  margin-right: 15px;
}

.price {
  font-weight: bold;
  font-size: 20px;
}

.bg-custom {
  background-color: white !important;
}

.alertt {
  color: red;
  font-size: 14px;
}

.secondrow {
  display: flex;
  flex-direction: row;
}

.thirdrow {
  display: flex;
  flex-direction: row;
}

.html,
body {
  background-image: url("/images/carter.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-custom {
  background-color: white !important;
}

.cent-ered {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #8ED0F2;
  padding-left: 500px;
}

.small-picture {
  margin-top: 15px;
  width: 200px;
  height: 200px;
}

.insert-desc {
  display: flex;
  flex-direction: row;
}

.insert-price {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.complete-cart {
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: white
}

.welcoming {
  font-size: 12px;
  font-weight: 800;
}

.card-img-top {
  height: 150px;
  max-width: 200px;
}